<html>
<head>
  <%= css :application, :media => 'screen' %>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <%= js :app %>
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand" href="/"><%= settings.site_name %></a>
      </div>
      <% if logged_in? %>
        <p class="navbar-text">Signed in as <a href="<%= logged_in_user.profile_url %>"><%= logged_in_user.name %></a></p>
        <p><a class="navbar-text" href="/logout">logout</a></p>
      <% else %>
        <p><a class="navbar-text" href="/authorize">login</a></p>
      <% end %>
    </nav>
  </div>

  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
